<div class="content-section content-section-2" id="content-section-2">
        <div class="heading card-panel grey-text text-lighten-3 blue lighten-1">
            <h3>Cadastro de usuário</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div id="userData" class="card-panel blue lighten-5 grey-text text-darken-2">
                        <h4>Dados do usuário</h4>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="login" type="text" class="validate">
                                <label for="login">Login</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="password" type="password" class="validate">
                                <label for="password">Senha</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="level" type="text" class="validate">
                                <label for="level">Nível</label>
                            </div>
                        </div>
                    </div>
    
                    <form id="helpdeskResponse">
                        <div class="row flex">
                            <button id="sendBtn" class="btn blue waves-effect waves-light" type="submit"
                                name="action">Cadastrar
                                <i class="material-icons right">check</i>
                            </button>
                        </div>
                    </form>
                </div>
    
            </div>
        </div>
    </div>